{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - KJTB Admin
{% endblock %}

{% block body %}
	<h1>Your lucky number is {{ number }}</h1>

	<a href="/kjtb/admin/get-updated">Get Updated</a>
{% endblock %}
