{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

{# <h1>Hello {{ controller_name }}! ✅</h1> #}

This friendly message is coming from:
<ul>
	<li>Your controller at <code><a href="{{ 'src/Controller/kjtbGetUpdatedController.php'|file_link(0) }}">src/Controller/kjtbGetUpdatedController.php</a></code></li>
	<li>Your template at <code><a href="{{ 'templates/kjtb/admin/get_updated.html.twig'|file_link(0) }}">templates/kjtb/admin/get_updated.html.twig</a></code></li>
</ul>
{% endblock %}
